@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(-150deg, #af67e9, #6565e7) no-repeat;
  padding: 2em;
  max-width: 1200px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

a {
  font-size: .75rem;
  color: #4a4b5e;
}

p {
  font-size: .7rem;
}

.card {
  width: 18rem;
  margin: 90px auto;
  padding: 0 1.5em 2em;
  background-color: #fff;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 1%;
  background-size: 68%;
  border-radius: 16px;
  -webkit-box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card img {
  margin-top: -6.2em;
  margin-right: 1.5em;
}

.card .card__content .card__title {
  font-size: 1.8rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.card .card__content details {
  margin-bottom: 1em;
  padding: .7em 0;
  border-bottom: 1px solid #e7e7e9;
  position: relative;
}

.card .card__content details[open] summary {
  font-weight: 700;
}

.card .card__content details[open] summary::-webkit-details-marker {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card .card__content details:nth-child(6) {
  border-bottom: 0;
}

.card .card__content summary {
  font-size: .7rem;
  color: #4a4b5e;
  position: relative;
  outline: none;
  cursor: pointer;
}

.card .card__content summary:hover {
  color: tomato;
}

.card .card__content summary::-webkit-details-marker {
  color: transparent;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  padding: .05em;
  -webkit-transition: -webkit-transition .3s ease-in-out;
  transition: -webkit-transition .3s ease-in-out;
  transition: transition .3s ease-in-out;
  transition: transition .3s ease-in-out, -webkit-transition .3s ease-in-out;
}

.card .card__content p {
  font-size: .6rem;
  margin-top: 1em;
  line-height: 1.6;
  padding-right: 4em;
  color: #787887;
  -webkit-animation: open .3s ease-in-out;
          animation: open .3s ease-in-out;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes open {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1000px) {
  body {
    position: relative;
  }
  .box {
    position: absolute;
    top: 40%;
    left: 11.3%;
    width: 150px;
    height: 150px;
    background: url("../images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -30px;
    z-index: 3;
  }
  .card {
    width: 45rem;
    height: 32rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4em 5em 3em 0;
    margin: 30px auto;
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-size: 25rem;
    background-position: -4em 5em;
    overflow: auto;
    position: relative;
  }
  .card::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 200px;
    left: -25px;
    top: 44%;
    background: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    z-index: 2;
  }
  .card img {
    width: 25rem;
    margin: 0;
    margin-left: -6.5em;
    visibility: hidden;
  }
  .card .card__content {
    width: 40%;
    margin: 0;
    height: 20rem;
    overflow-y: scroll;
  }
  .card .card__content::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  .card .card__content .card__title {
    text-align: left;
    margin: 0 0 .5em 0;
  }
}

@media (min-width: 1200px) {
  .box {
    position: absolute;
    top: 40%;
    left: 16.4%;
    width: 150px;
    height: 150px;
    background: url("../images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -30px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
